{
  "tabWidth": 2,
  "useTabs": false,
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "singleAttributePerLine": false
      }
    }
  ]
}
